mixin logo(custom_class, text)
    .logo(class= custom_class)
        .logo__left ПИР
        if(text)
            .logo__right
                p.logo__right-row
                    span.logo__right-capital П
                    span ровайдер
                p.logo__right-row
                    span.logo__right-capital И
                    span нтерактивных
                p.logo__right-row
                    span.logo__right-capital Р
                    span ешений
        a.logo__link(href='/')


mixin button(custom_class, text, icon, tab, submit)
    if (!submit)
        .button(
            class= custom_class,
            class= icon,
            class= tab ? 'button--tab' : ''
            )= text
    else
        button.button(
            class= custom_class,
            class= icon,
            class= tab ? 'button--tab' : '',
            type='submit'
        )= text

mixin tooltip(custom_class, text)
    .tooltip.icon-help
        .tooltip__text= text

mixin checkbox(custom_class, text, name, tooltip)
    label.checkbox(class= custom_class)
        input(type='checkbox', name= name, hidden)
        .checkbox__item.icon-check-empty= text
        if (tooltip)
            +tooltip('checkbox__tooltip', tooltip)